{% extends 'base/custom_auth_base.html' %}
{% load static %}
{% load i18n %}
{% block auth_content %}
<h4 class="fw-bold mb-4">{% trans "Nouveau mot de passe" %}</h4>

<!-- Affichage des erreurs non liées à un champ spécifique -->
{% for field in form %}
    {% if field.errors %}
        <div class="error-banner mb-3">
            <p class="m-0">{{ field.errors|first }}</p>
        </div>
    {% endif %}
{% endfor %}

<p style="font-size: .9rem;">{% trans "Saisissez votre nouveau mot de passe." %}</p>

<!-- Formulaire pour saisir le nouveau mot de passe -->
<form method="post">
    {% csrf_token %}

    <div class="password-wrapper mb-3">
        <input type="password" name="new_password1" autocomplete="new-password" id="password1_new" class="form-control" placeholder="{% trans "Mot de passe" %}" required>
        <i id="toggle-password1_new" class="fa fa-eye"></i>
    </div>

    <div class="password-wrapper mb-3">
        <input type="password" name="new_password2" autocomplete="new-password" id="password2_new" class="form-control" placeholder="{% trans "Confirmation" %}" required>
        <i id="toggle-password2_new" class="fa fa-eye"></i>
    </div>

    <!-- Bouton de soumission -->
    <button type="submit" class="btn btn-primary mt-2">{% trans "Modifier" %}</button>
</form>
{% endblock %}