<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Route Event</title>
    <link rel="icon" href="{% static 'base/automatic_request/icon/favicon.ico' %}">
</head>

<h1>Événements voie</h1>

<p>
    <a href="{% url 'route_event:staff_home' %}">
        Retour staff
    </a>
    |
    <a href="{% url 'route_event:staff_event_create' %}">
        Créer un événement
    </a>
</p>

<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.name }}</td>

                <td>
                    {{ event.date }}
                </td>

                <td>
                    <a href="{% url 'route_event:staff_event_update' slug=event.slug %}">
                        Modifier
                    </a>
                    |

                    <a href="{% url 'route_event:staff_route_list' slug=event.slug %}">
                        Voies
                    </a>
                    |

                    <a href="{% url 'route_event:staff_participant_list' slug=event.slug %}">
                        Participants
                    </a>
                    |

                    <a href="{% url 'route_event:staff_event_delete' slug=event.slug %}">
                        Supprimer
                    </a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">
                    Aucun événement.
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>