body {
    width: 100vw;
    height: 100svh;
    overflow: hidden;
    background: #FFF !important;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100svh;
    background-image: var(--catch-all-bg-url);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}