{% extends 'base/main_base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
<style>
    .install-guide {
        margin: auto 0;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8vh;
        height: 80vh;
    }

    span.title {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
    }

    span.subtitle {
        margin-top: .25rem;
        text-align: center;
        font-size: 1rem;
        font-style: italic;
    }

    .step-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    span.text {
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.6;
    }

    .step-number {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        border-radius: 50%;
        background-color: #333;
        color: white;
        font-size: 1.5rem;
        font-weight: 900;
    }
</style>
{% endblock %}

{% block content %}
<div class="install-guide">
    <div class="step-container">
        <span class="title">{% trans "Guide d'installation" %}</span>
        <span class="subtitle">{% trans "En seulement deux étapes !" %}</span>
    </div>

    <div class="step-container">
        <span class="step-number">1</span>
        <span class="text">
            {% blocktrans trimmed %}
            Appuie sur l’icône
            {% endblocktrans %}
            <img src="{% static 'services/media/icons/share_icon.svg' %}" alt="ios_share_icon" class="position-relative" style="width: 20px; bottom: 6px;">
            {% trans "en bas de ton écran" %}
        </span>
    </div>

    <div class="step-container">
        <span class="step-number">2</span>
        <span class="text">
            {% blocktrans trimmed %}
            Fais défiler le menu et sélectionne
            {% endblocktrans %}
            <img src="{% static 'services/media/icons/add_icon.svg' %}" alt="ios_add_icon" class="position-relative" style="width: 22px; bottom: 3px;">
        </span>
    </div>
</div>

<div class="w-100 position-fixed bottom-0 d-flex justify-content-center align-items-end">
    <i class="fa-regular fa-arrow-down-long fa-bounce" style="font-size: 50px;"></i>
</div>
{% endblock %}